html {
  background: url(images/mansion.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Chango, Lucida Grande;
  color: #f6f6f6;
  display: block;
  padding: 0;
}

div {
  /*opacity: 0.5;*/
  margin: auto;
  border: 1px;
  border-radius: 10px;
}

#container {
  width: 950px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 15px;
}

main {
  margin-left: auto;
  margin-right: auto;
}

#instructions {
  background-color: darkred;
  color: white;
  text-align: center;
  font-size: 40px;
  float: none;
  width: 900px;
  height: 55px;
  margin-bottom: 20px;
  padding: 0 auto;
}

.box {
  width: 145px;
  height: 200px;
  border: 1px solid white;
  display: inline-block;
}

.cardCl {
  opacity: 1.0;
}

.player {
  text-align: center;
  width: 250px;
  color: darkblue;
  background-color: yellow;
  opacity: 0.5;
  display: inline;
  padding: 5px;
  margin: 10px;
}

.left {
  float: left;
}

.right {
  float: right
}

button {
  width: 150px;
  height: 30px;
  font-size: 20px;
  border-radius: 15%;
  margin: 10px 20px 10px 200px;
  background-color: green;
}

img {
  width: inherit;
  height: inherit;
}

img .suspect {
  opacity: 1.0
}
