body {
  font-family: Lucida Grande;
  display: block;
  background-color: #f6f6f6;
  padding: 0;
}

div {
  margin: auto;
  border: 1px;
  border-radius: 10px;
}

#container {
  background-color: #fff4db;
  width: 450px;
  height: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
}

.box {
  width: 100px;
  height: 150px;
  border: 1px solid blue;
  display: inline-block;
}

.player {
  background-color: gray;
  border: 1px solid black;
  display: inline;
  padding: 10px;
  margin: 15px;
}

.left {
  float: left;
}

.right {
  float: right
}

button {
  clear: both;
}

img {
  width: inherit;
  height: inherit;
}
