body {
  font-family: Lucida Grande;
  color: #f6f6f6;
  display: block;
  background-color: darkblue;
  padding: 0;
}

div {
  margin: auto;
  border: 1px;
  border-radius: 10px;
}

#container {
  background-color: darkblue;
  width: 650px;
  height: 525px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 15px;
}

main {
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 100px;
  height: 150px;
  border: 1px solid blue;
  display: inline-block;
}

#instructions {
  background-color: #D9D8F7;
  color: darkblue;
  text-align: center;
  font-style: italic;
  float: none;
  width: 622px;
  height: 25px;
  margin-top: 10px;
  padding: 5px;
}

.player {
  color: darkblue;
  background-color: #fff4db;
  display: inline;
  padding: 10px;
  margin: 15px;
}

.left {
  float: left;
}

.right {
  float: right
}

button {
  font-size: 20px;
  padding: 10px;
  border-radius: 20%;
  margin: 50px 20px 0px 100px;
}

img {
  width: inherit;
  height: inherit;
}
